<table class="table">
    <thead>
        <tr>
            <th scope="col">EmployeeName</th>
            <th scope="col">Interaction Type</th>
            <th scope="col">Interaction Time</th>
            <th scope="col">Remarks</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let interaction of getinteractionfromclients">

            <td>{{interaction.employeeName}}</td>
            <td *ngIf="interaction.intType=='T'">Telephone</td>
            <td *ngIf="interaction.intType=='S'">Skype</td>
            <td *ngIf="interaction.intType=='I'">In person</td>
            <td *ngIf="interaction.intType=='W'">Webex</td>
            <td>{{interaction.intDate}}</td>
            <td>{{interaction.remarks}}</td>

        </tr>
    </tbody>
</table>