<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Client Information System</a>

  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['addclient']">Add Client <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['addemployee']">Add Employee</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['addinteraction']" >Add Interaction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['updateclient']">Update Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['updateemployee']">Update Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['updateinteraction']">Update Interaction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['deleteclient']">Delete Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['deleteemployee']">Delete Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['deleteinteraction']">Delete Interaction</a>
          </li>
      </ul>
    </div>
  </nav>